# IDE & Editor 
.idea/
.vscode/
*.swp

# Python Cache
__pycache__/
*.py[cod]

# Virtual Environments 
venv/
env/
.env
.venv/


# ML Model & Weight Files 
*.pth
*.pt
*.pkl


# Datasets (Keep these ignored, they are too big for GitHub)
*.csv
*.xlsx
*.zip
data/
datasets/

# Logs
*.log

# OS Generated
.DS_Store
Thumbs.db
